<h2>Users</h2>
<!--
<form (submit)="saveUser(); $event.preventDefault()">
  <input [value]="name()" name="name" placeholder="Name" (input)="name.set(txtName.value)" #txtName required />
  <input [value]="email()" name="email" placeholder="Email" (input)="email.set(txtEmail.value)" #txtEmail required />
  <button type="submit">Save</button>
</form> -->

<!-- <ul>
  <li *ngFor="let u of users">
    {{ u.name }} - {{ u.email }}
    <button (click)="edit(u)">Edit</button>
    <button (click)="delete(u.id)">Delete</button>
  </li>
</ul> -->
